
.lparent{
    padding: 0 6vmin;
    font-family: sans-serif;
}
.logol{
    display: flex;
    flex-direction: column;
    gap: 1.5vmin;
}
.logol p{
    color: black;
    font-size: 3.2vmin;
}
img{
    height: 25vmin;
    width: 24vmin;
align-self: center;

}
.linputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
}
.linputs input{
    background-color: #F0F0F0;
    width: 100%;
    padding: 1.1vmin 5%;
    border-radius: 1vmin;
    font-size: 3vmin
    
}
.linputs 
 p{
    font-size: 3.2vmin;
    color: black;
    font-weight: 500;
    text-align: left;
}

button{
    padding: 1.6vmin 4vmin;
    border-radius: 8px;
    font-size: 2.8vmin;
    background-color: #00173d;
    color: white;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}
button:active{
    background-color: #001432;
}

.lforgotCont{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
   
    gap: 1.7vmin;
    width: 100%;
}
.forgotCont input{
    width: fit-content;
    
}
.forgotCont p{
    width: 90%;
    font-size:2.6vmin;
    font-weight: 400;
   
}

.signupCont{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    width: fit-content;
}
.signupCont p{
    font-size:3vmin;

}
#lforgottext{
    font-size: 2.5vmin;
    font-weight: 500;
    cursor: pointer;

}
.lforgotparent{
    margin: 2vmin 0;
    display: flex;
    flex-direction: column;
   gap: 2vmin;
}
#preference{
    font-size: 2.5vmin;
    font-family: Verdana, sans-serif;
    font-weight:  200;
}
#btnParent{
    display: flex;
    flex-direction: column;
    gap: 3vmin;
}
#accounttxt{
    font-size:2.6vmin;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
@media (max-width: 1185px) {
    .lparent{
        height: fit-content;
        width: 70%;
    }
    #btnParent{
        display: flex;
        flex-direction: column;
        gap: 0vmin;
        margin: 2vmin 0;
    }




    
#accounttxt,a{
    font-size:2.6vmin;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    
}

}
@media (max-width: 900px) {
    .lparent{
        height: fit-content;
        width: 90%;
    }
    #btnParent{
        display: flex;
        flex-direction: column;
        gap: 0vmin;
        margin: 2vmin 0;
    }
    
}