
#assignmentsyllabus{
    padding: 2.3vmin 3vmin;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
  }
  #semestersyllabus #unitno{
    font-size: 2vmin;
  }

#semestersyllabus #lecturerdetails #img{
  height: 6.2vmin;
  width: 6.2vmin;
}
/* 
#date{
  padding-right: 10vmin;
} */
#countryimage{
  height: 3.2vmin;
  width: 3.2vmin;
}

