@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  background-color: #E8F1F2;
}
#Semester{
  padding: 0.5vw 3vmin;
}
#Semester span{  
  font-size: 1.8vw;
}
@media (max-width: 620px) {
  #Semester{
    padding: 1.4vw 3vmin;
  }
  #Semester span{
    font-size: 2.3vw;
  }
  
}
#semestersyllabus{
  padding: 2.3vmin 3vmin;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
#semestersyllabus input{
  height: 2vmin;
  width: 2vmin;
}
#semestersyllabus span{
  font-size: 2vmin;
}


#semestersyllabusb{
  padding: 0vmin 3vmin;
 
}
#semestersyllabusb button{
  padding: 0;
  background: transparent;
  color: #344054;
  border: 2px solid #D0D5DD;
  font-weight: 400;
  padding: 1vmin 2.8vmin;
  border-radius: 10px;
  font-size: 1.6vmin;
  border: 1px solid #D0D5DD;
}

#coursedetails{
  margin-left: 3vmin;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 4vmax;
}



#coursedetails img{
  height: 3vmax;
  width: 3vmax;
}
#coursedetailsb{
  padding: 2.3vmax 1vmax;
}
#coursedetailsb div p{
  color: white;

  font-size: 1.4vw;
}
#navoptions{
  display: none;
}
@media (max-width:600px) {
  #navbarcontainer{
    display: none;
  }
  #maindatacontainer{
    width: 100%;
    height: 100%;
  }
  #navoptions{
    display: inline-block;
    position: absolute;
    top: 9%;
    left: 1%;
  }
  #form{
    width: 100%;
  }
  
}
@media (max-width: 450px) {

  
#messagecontainer #spanone input{
    width: 100%;

    outline: none;
    font-size: 2.3vmax;
}
#messagecontainer #spanone input::placeholder{
  font-size: 2.3vmax;
}

}
@media (max-width: 400px) {
  #userinfo #nameandstatus{
    display: flex;
    flex-direction: column;
  }
  #userinfo #nameandstatus b{
    font-size: 3vmin;
    width: 100%;
  }
  #userinfo #nameandstatus span{
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  #userinfo #nameandstatus span p{
    text-align: left;
    font-size: 1.5vmin;
  }

  
}