@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  background-color: #E8F1F2;
}
#Semester{
  padding: 0.4vw 3vmin;
}
#Semester span{  
  font-size: 1.8vmax;
}
#semestersyllabus{
  padding: 2.3vmin 3vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}
#semestersyllabus input{
  height: 2.6vmin;
  width: 2.6vmin;
}
#semestersyllabus span{
  font-size: 2vmin;
}


#semestersyllabusb{
  padding: 0vmin 3vmin;
 
}
#semestersyllabusb button{
  padding: 0;
  background: transparent;
  color: #344054;
  border: 2px solid #D0D5DD;
  font-weight: 400;
  padding: 1vmin 2.8vmin;
  border-radius: 10px;
  font-size: 1.6vmin;
  border: 1px solid #D0D5DD;
}

#coursedetails{
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 10vmin;
}



#coursedetails img{
  height: 3vmax;
  width: 3vmax;
}
#coursedetailsb{
  padding: 2vmax 1vmax;
}
#coursedetailsb p{
  font-size: 1.2vmax;
}